<?xml version='1.0'?>
<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config ../robot_model_configuration.xsd">
    <name>HBP Clearpath Robotics Husky A200</name>
    <version>1.0</version>
    <maturity>production</maturity>
    <license>GPL</license>
    <sdf version="1.5">hithand.sdf</sdf>
    <thumbnail>thumbnail.png</thumbnail>
    <author>
        <name>Qian Feng</name>
        <email>qian.feng@tum.de</email>
    </author>

    <description>
        Model of DLR-HIT-HAND II.
        More information: https://www.dlr.de/rm/en/desktopdefault.aspx/tabid-11886/#gallery/28915
    </description>

    <website>https://www.clearpathrobotics.com/husky-unmanned-ground-vehicle-robot/</website>

    <documentation>
        <sensors>
          <sensor name="back_left_sensor" type="force_torque" />
          <sensor name="back_right_sensor" type="force_torque" />
          <sensor name="front_left_sensor" type="force_torque" />
          <sensor name="front_right_sensor" type="force_torque" />
          <sensor name="camera" type="camera" />
        </sensors>

        <actuators>
          <actuator name="back_left_joint" type="motor" />
          <actuator name="back_right_joint" type="motor" />
          <actuator name="front_left_joint" type="motor" />
          <actuator name="front_right_joint" type="motor" />
        </actuators>

        <publication title="Semi-Supervised Spiking Neural Network for One-Shot Object Appearance Learning" authors="J. Kaiser, R. Stal, A. Subramoney, A. Roennau, R. Dillmann" url="https://link.springer.com/chapter/10.1007%2F978-3-662-54712-0_10"/>
        <publication title="Scaling up liquid state machines to predict over address events from dynamic vision sensors" authors="I. Peric, R. Hangu, J. Kaiser, S. Ulbrich, A. Roennau, J. M. Zoellner, R. Dillman" url="https://www.frontiersin.org/articles/10.3389/fninf.2017.00007/full"/>
        <youtube title="Tutorial - Overview of the HBP Neurorobotics Platform" youtube-id="uAXzS7SPFG4"/>
        <youtube title="Third HBP Neurorobotics Workshop @TUM - Munich" youtube-id="R0D82QooSs8"/>
        <picture title="Home page" url="https://developer.humanbrainproject.eu/docs/projects/HBP%20Neurorobotics%20Platform/0.9/_images/gz3d-interact.png"/>
        <picture title="Wizzard" url="https://developer.humanbrainproject.eu/docs/projects/HBP%20Neurorobotics%20Platform/1.2/_images/gz3d-env-editor.png"/>
    </documentation>
</model>
