<?xml version='1.0'?>
<model>
    <name>HBP DLR Hithand</name>
    <version>1.0</version>
    <maturity>production</maturity>
    <license>GPL</license>
    <sdf version="1.6">hithand.sdf</sdf>
    <thumbnail>thumbnail.png</thumbnail>
    <author>
        <name>Qian Feng</name>
        <email>qian.feng@tum.de</email>
    </author>

    <description>
        Model of DLR-HIT-HAND II.
        More information: https://www.dlr.de/rm/en/desktopdefault.aspx/tabid-11886/#gallery/28915
    </description>

    <website>https://www.clearpathrobotics.com/husky-unmanned-ground-vehicle-robot/</website>

</model>
